#header {
  display: flex;
  justify-content: center;
}

.Carrusel img {
  border-color: blue;
  border-radius: 10px;
  justify-content: space-between;
  height: 900px;
  padding: 45px;
}

.Inicio {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.h3 {
  text-align: center;
}

.VIDEOS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.ProductosIndex {
  border-width: 50px;
  margin: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ProductosIndex img {
  max-width: 550px;
  max-height: 150px;
}

.h3ip {
  text-align: center;
  padding-top: 1.5rem;
}

.finalindex {
  display: flex;
  justify-content: center;
  height: 450px;
  background-color: #7fffd4;
}

.sponsorfot {
  display: flex;
  text-align: center;
}

.footer {
  background-color: #D7DBDD;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
}

.footer img {
  width: 150px;
  height: 70px;
}

.NavBar ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
  font-size: 1.7rem;
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.UlNav a {
  text-decoration: none;
  box-shadow: none;
  color: black;
  margin: 1.5rem;
}

.sponsorfot {
  display: flex;
  justify-content: center;
}

#h1tittle {
  text-align: center;
}

.maps {
  justify-content: center;
  margin-left: 30rem;
}

.productcarru {
  display: flex;
  justify-content: center;
}

.producth1 {
  display: flex;
  justify-content: center;
}

.form1 {
  background-color: white;
}

.form1 {
  margin: 40px;
  padding: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  font-family: sans-serif;
  display: flex;
  border: solid 5px aquamarine;
}

.footer {
  margin-top: 20rem;
}

.container {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.image {
  width: 200px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #007BFF;
  border-radius: 5px;
}

.image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.image:hover img {
  transform: scale(1.1);
}

.reviews {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 400px;
  margin: 20px auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.review {
  display: flex;
  margin: 10px 0;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  max-width: 100%;
  height: auto;
}

.text {
  margin-left: 10px;
}

.mangabsga {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
